.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-item {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

img {
  width: 150px;
  height: 150px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  margin: 10px;
  flex: 0 1 calc(33% - 20px);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px; /* Espacement entre les éléments */
  padding: 20px;
}

.product-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05); /* Agrandir légèrement au survol */
}

.product-card mat-card {
  height: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

